In [ ]:
#COMPOUND INTREST
P=int(input("Enter the value of initial principle balance="))
r=int(input("Enter the value of interest rate="))
n=int(input("Enter the value of number of times iintrest applied="))
t=int(input("Enter the number of time period elapsed="))
A=P*(1+r/n)**(n*t)
print("compound intrest",A)

Enter the value of initial principle balance=3
Enter the value of interest rate=6
Enter the value of number of times iintrest applied=5
Enter the number of time period elapsed=5
compound intrest 1090657211.4522653

In [ ]:
#simple intrest
p=int(input("enter the value of principle"))
r=int(input("enter the value of rate"))
t=int(input("enter the value of time"))
SI= (p*r*t)/100
print("si=",SI)

enter the value of principle6
enter the value of rate7
enter the value of time8
si= 3.36

In [ ]:
#EMI
P=int(input("principle amount="))
R=int(input("rate of interest per annum="))
N=int(input("repayment period="))
EMI= (P*R*(1+R)**N)/((1+R)**N-1)
print("EMI=",EMI)

principle amount=3
rate of interest per annum=5
repayment period=4
EMI= 15.011583011583012

In [ ]:
#celsius to kelvin
c=int(input("enter the value of temperature in degree celsius"))
K=(C+273.15)
print("temperature in kelvin is",K)

NameError: ignored

In [1]:
#WAPto input a number and cehck whether it is posotive or negative
num=int(input("Enter a number"))
if (num>0):
  print ("positive")
else:
  print("negative")

Enter a number5
positive

In [17]:
num=int(input("enter a number"))
if(num%5==0 and num%3==0):
  print(" divisible")
else:
  print(" not divisible")

enter a number15
 divisible

In [23]:

Variable==int(input("enter the alphabet"))
if(variable==a,e,i,o,u):
   print("its a vowel")
else:
  print("its not vowel")

NameError: ignored

In [31]:

#or consonant.
ch=input("Enter the variable")
if(ch=='a' or ch=='e' or ch=='i'or ch=='o' or ch=='u'):
  print("its a vowel")
else:
  print("its a consonant")

Enter the variablei
its a vowel

In [ ]:
#or consonant.
ch=input("Enter the variable")
if((ch=='a' and ch=='A') or (ch=='e'and ch=='E') or (ch=='i'and ch=='I')or (ch=='o' and ch=='O')or( ch=='u' and ch=='U')):
  print("its a vowel")
else:
  print("its a consonant")

In [ ]:
#multiple conditional statement
if(condition):
  #statement
elif(condition):
    #statement
elif(condition):
    #statement

In [32]:
marsks     grade
90 to 100   A+
80 to 90    A
70 to 80    B+
60 to 70    B
50 to 60    C
40 to 50    D
30 to 40    E
less thn 30 F

num=int(input("Enter the marks"))
if(num==90-100):
  print("A+")

SyntaxError: ignored

In [33]:
marks=int(input("Enter the marks"))
if(marks>=90 and marks<=100):
  print("A+")
elif(marks>=80 and marks<=90):
  print("A")
elif(marks>=70 and marks<=80):
  print("B")
elif(marks>=60 and marks<=70):
  print("C")
elif(marks>=50 and marks<=60):
  print("D")
elif(marks>=40 and marks<=50):
  print("E")
elif(marks>=30 and marks<=40):
  print("F")
else(marks<=30):
  print("G")

Enter the marks67
C

In [38]:
Num1=int(input("Enter the number 1 = "))
Num2=int(input("Enter the number 2 = "))
Num3=int(input("Enter the number 3 = "))
if(Num1>Num2 and Num1>Num3):
  print("Num1 is the largest")
elif(Num2>Num1 and Num2>Num3):
  print("Num2 is the largest")
else:
  print("Num3 is the largest")

Enter the number 1 = 4
Enter the number 2 = 5
Enter the number 3 = 6
Num3 is the largest

In [40]:
year=int(input("enter the year="))
if(year%4==0):
  print("its a leap year")
else:
  print("its not a leap year")

enter the year=2023
its not a leap year

In [50]:
op=input("Enter the operator")
Num1=int(input("Enter the number 1 = "))
Num2=int(input("Enter the number 2 = "))
if(op=='+'):
  print(Num1+Num2)
elif(op=='-'):
  print(Num1-Num2)
elif(op=='/'):
  print(Num1/Num2)
elif(op=='*'):
  print(Num1*Num2)
else:
  print("Nothing")

Enter the operator/
Enter the number 1 = 36
Enter the number 2 = 9
4.0

# New Section